version: "3"
services:
  client:
    build:
      context: ../
      dockerfile: docker/Dockerfile-prod-client
    ports:
      - "80:80"
    restart: always
#     volumes:
#       - pergamon_secrets:/etc/nginx/ssl
# volumes:
#   - pergamon_secrets: